<!DOCTYPE html>
<html>
<head>
  <title>Show Cocktail Recipe</title>
</head>
<body>


  <div class="card mb-3 p-3">
    <img class="card-img-top img-fluid max-width: 100% height:auto" src="https://source.unsplash.com/816x300/?cocktail, <%= @cocktail.name %>" alt="Card image cap">
    <div class="card-img-overlay d-flex flex-column align-items-between justify-content-between m-4">
      <div class="m-4">
        <h1 class="card-title text-white"><%=@cocktail.name%></h1>
        <ul class="list-unstyled">
        <% @cocktail.doses.each do |dose| %>
          <li class="text-white"><%= dose.description %> of <%=dose.ingredient.name%></li>
        <% end %>
        </ul>
        <%= link_to 'Add Ingredient', new_cocktail_dose_path(@cocktail), class: "btn btn-outline-light"%>
        <%= link_to "Delete Cocktail",
                  cocktail_path(@cocktail),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: "btn btn-outline-light"%>
      </div>
    </div>
  </div>

</body>
</html>
